.contain{
    background-color: rgb(13, 31, 64);
    color:#10F5A8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.nav{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
.nav li a{
    text-decoration: none;
    color: #10F5A8;
    font-size: 18px;
}
h1{
    margin: 0;
}
.nav li a:hover{
    text-decoration: underline;
    transition: 0.2s;
}
.nav li a{
    cursor: pointer;
    
}