<div class="contain d-flex ">
    <div class="side1 w-50">
        <h2 class="text-decoration-underline">MOVIEFLIX</h2>
        <p class="mt-5">MOVIEFLIX IS A MODERN MOVIE DISCOVERY PLATFORM DESIGNED TO HELP USERS EXPLORE AND DISCOVER FILMS FROM ACROSS THE GLOBE. THE SITE PROVIDES ACCESS TO POPULAR, TRENDING, AND HIGHLY RATED MOVIES, ALL PRESENTED THROUGH A CLEAN AND INTUITIVE INTERFACE THAT MAKES BROWSING EFFORTLESS AND ENJOYABLE. <br><br>

WITH MOVIEFLIX, USERS CAN VIEW DETAILED INFORMATION ABOUT EACH MOVIE, INCLUDING POSTERS, SUMMARIES, AND KEY DETAILS, ALLOWING THEM TO QUICKLY DECIDE WHAT TO WATCH NEXT. THE PLATFORM FOCUSES ON DELIVERING UP-TO-DATE CONTENT USING REAL-TIME MOVIE DATA, ENSURING THAT USERS ARE ALWAYS IN SYNC WITH WHAT’S CURRENTLY POPULAR IN THE WORLD OF CINEMA. <br><br>

BUILT WITH A STRONG EMPHASIS ON SIMPLICITY, PERFORMANCE, AND VISUAL APPEAL, MOVIEFLIX OFFERS A SMOOTH BROWSING EXPERIENCE ACROSS DEVICES. WHETHER YOU’RE CASUALLY LOOKING FOR A MOVIE TO WATCH OR ACTIVELY EXPLORING NEW RELEASES, MOVIEFLIX BRINGS EVERYTHING TOGETHER IN ONE PLACE — MAKING MOVIE DISCOVERY SIMPLE, FAST, AND ENGAGING.</p>
    </div>
    <div class="side2">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{movie1}}" class="d-block w-100" height="500"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{movie2}}" class="d-block w-100" height="500" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{movie3}}" class="d-block w-100" height="500" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
</div>