.contain{
    color:#10F5A8;
    padding: 30px;
    gap: 50px;
}
.side1{
    flex:6;

}
.side2{
    flex:2;
}
.side1 h2{
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 2px;
}
.side1 p{
    line-height: 1.8;
    text-align: justify;
}