<h1 class="head">POPULAR MOVIES</h1>
<div class="d-flex flex-wrap justify-content-center align-items-center cardcontainer">
    @for(i of movies;track $index)
    {
    <div class="card m-3 moviecard" (click)="viewmoviedetails(i)" style="width: 14rem; color: #10F5AB; background-color:  rgb(13, 31, 64);">
        <img src="https://image.tmdb.org/t/p/w500{{i.poster_path}}" alt="">
    <h3 >{{i.title}}</h3>
    </div>
    }
    
</div>
<div class="d-flex flex-wrap justify-content-center align-items-center gap-5 m-4 btns">
        <button (click)="previouspage()">PREVIOUS</button>
        <button (click)="nextpage()">MORE</button>
        
    </div>