.moviecard h3 {
  font-size: 0.9rem;
  line-height: 1.2em;
  height: 2.4em;              
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 10px;
}
.moviecard:hover{
    border:2px solid #10F5AB;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.moviecard{
    border-radius: 10px;
    flex-shrink: 0;
}
.moviecard img{
    border-radius: 10px;
}
.head{
    padding:30px;
    color: #10F5AB;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
}
.cardcontainer{
    overflow: auto hidden;
    padding-left: 30px;
}
.cardcontainer::-webkit-scrollbar {
    display: none;
}