<div class="contain">
    <h2 class="head">CONTACT US</h2>
    <div class="formdiv">
        <form class="d-flex flex-column w-50">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Subject">
            <input type="tel" placeholder="Phone Number">
            <input type="text" placeholder="Message">
            <input type="text" placeholder="Website">
            <button>SUBMIT</button>
        </form>
    </div>
</div>