img{
    height: auto;
    width: 100%;
    padding-right: 20px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    color: #10F5AB;
    text-align: center;
    flex:1;
}
.content h1{
    
    margin-bottom: 20px;
}
.imgc{
    flex:1;
}
.head{
    padding:30px;
    color: #10F5AB;
    text-decoration: underline;
    letter-spacing: 2px;
}
.contain{
    margin-top: 40px;
}